:host {
	--slds-paletteBlue10: rgb(0, 22, 57);
	--slds-paletteBlue65: rgb(87, 163, 253);
	--slds-paletteBlue15: rgb(3, 35, 77);
	--slds-paletteBlue90: rgb(216, 230, 254);
	--slds-paletteBlue80: rgb(170, 203, 255);
	--slds-paletteBlue70: rgb(120, 176, 253);
	--slds-paletteBlue60: rgb(27, 150, 255);
	--slds-paletteBlue50: rgb(1, 118, 211);
	--slds-paletteBlue40: rgb(11, 92, 171);
	--slds-paletteBlue95: rgb(238, 244, 255);
	--slds-paletteBlue30: rgb(1, 68, 134);
	--slds-paletteBlue20: rgb(3, 45, 96);
	--slds-paletteCloudBlue90: rgb(207, 233, 254);
	--slds-paletteCloudBlue80: rgb(144, 208, 254);
	--slds-paletteCloudBlue70: rgb(26, 185, 255);
	--slds-paletteCloudBlue60: rgb(13, 157, 218);
	--slds-paletteCloudBlue50: rgb(16, 124, 173);
	--slds-paletteCloudBlue40: rgb(5, 98, 138);
	--slds-paletteCloudBlue95: rgb(234, 245, 254);
	--slds-paletteCloudBlue30: rgb(8, 73, 104);
	--slds-paletteCloudBlue20: rgb(2, 50, 72);
	--slds-paletteCloudBlue10: rgb(0, 26, 40);
	--slds-paletteCloudBlue65: rgb(8, 171, 237);
	--slds-paletteCloudBlue15: rgb(10, 38, 54);
	--slds-paletteGreen15: rgb(12, 41, 18);
	--slds-paletteGreen90: rgb(205, 239, 196);
	--slds-paletteGreen80: rgb(145, 219, 139);
	--slds-paletteGreen70: rgb(69, 198, 90);
	--slds-paletteGreen60: rgb(59, 167, 85);
	--slds-paletteGreen50: rgb(46, 132, 74);
	--slds-paletteGreen40: rgb(34, 104, 62);
	--slds-paletteGreen95: rgb(235, 247, 230);
	--slds-paletteGreen30: rgb(25, 78, 49);
	--slds-paletteGreen20: rgb(14, 53, 34);
	--slds-paletteGreen10: rgb(7, 27, 18);
	--slds-paletteGreen65: rgb(65, 182, 88);
	--slds-paletteHotOrange90: rgb(255, 222, 213);
	--slds-paletteHotOrange80: rgb(254, 185, 165);
	--slds-paletteHotOrange70: rgb(255, 144, 110);
	--slds-paletteHotOrange60: rgb(255, 93, 45);
	--slds-paletteHotOrange50: rgb(216, 58, 0);
	--slds-paletteHotOrange40: rgb(170, 48, 1);
	--slds-paletteHotOrange95: rgb(254, 241, 237);
	--slds-paletteHotOrange30: rgb(126, 38, 0);
	--slds-paletteHotOrange20: rgb(84, 29, 1);
	--slds-paletteHotOrange10: rgb(40, 18, 2);
	--slds-paletteHotOrange65: rgb(255, 120, 79);
	--slds-paletteHotOrange15: rgb(66, 22, 4);
	--slds-paletteIndigo90: rgb(224, 229, 248);
	--slds-paletteIndigo80: rgb(190, 199, 246);
	--slds-paletteIndigo70: rgb(158, 169, 241);
	--slds-paletteIndigo60: rgb(127, 140, 237);
	--slds-paletteIndigo50: rgb(88, 103, 232);
	--slds-paletteIndigo40: rgb(58, 73, 218);
	--slds-paletteIndigo95: rgb(241, 243, 251);
	--slds-paletteIndigo30: rgb(47, 44, 183);
	--slds-paletteIndigo20: rgb(38, 15, 143);
	--slds-paletteIndigo10: rgb(32, 6, 71);
	--slds-paletteIndigo65: rgb(142, 155, 239);
	--slds-paletteIndigo15: rgb(31, 9, 116);
	--slds-paletteNeutral90: rgb(229, 229, 229);
	--slds-paletteNeutral80: rgb(201, 201, 201);
	--slds-paletteNeutral70: rgb(174, 174, 174);
	--slds-paletteNeutral100: rgb(255, 255, 255);
	--slds-paletteNeutral60: rgb(147, 147, 147);
	--slds-paletteNeutral50: rgb(116, 116, 116);
	--slds-paletteNeutral40: rgb(92, 92, 92);
	--slds-paletteNeutral95: rgb(243, 243, 243);
	--slds-paletteNeutral30: rgb(68, 68, 68);
	--slds-paletteNeutral20: rgb(46, 46, 46);
	--slds-paletteNeutral10: rgb(24, 24, 24);
	--slds-paletteOrange90: rgb(254, 223, 208);
	--slds-paletteOrange80: rgb(255, 186, 144);
	--slds-paletteOrange70: rgb(254, 147, 57);
	--slds-paletteOrange60: rgb(221, 122, 1);
	--slds-paletteOrange50: rgb(169, 100, 4);
	--slds-paletteOrange40: rgb(130, 81, 1);
	--slds-paletteOrange95: rgb(255, 241, 234);
	--slds-paletteOrange30: rgb(95, 62, 2);
	--slds-paletteOrange20: rgb(62, 43, 2);
	--slds-paletteOrange10: rgb(32, 22, 0);
	--slds-paletteOrange65: rgb(243, 131, 3);
	--slds-paletteOrange15: rgb(55, 30, 3);
	--slds-palettePink50: rgb(227, 6, 106);
	--slds-palettePink40: rgb(182, 5, 84);
	--slds-palettePink95: rgb(254, 240, 243);
	--slds-palettePink30: rgb(138, 3, 62);
	--slds-palettePink20: rgb(97, 2, 42);
	--slds-palettePink65: rgb(254, 114, 152);
	--slds-palettePink10: rgb(55, 1, 20);
	--slds-palettePink15: rgb(75, 6, 32);
	--slds-palettePink90: rgb(253, 221, 227);
	--slds-palettePink80: rgb(253, 182, 197);
	--slds-palettePink70: rgb(254, 138, 167);
	--slds-palettePink60: rgb(255, 83, 138);
	--slds-palettePurple15: rgb(48, 11, 96);
	--slds-palettePurple90: rgb(236, 225, 249);
	--slds-palettePurple80: rgb(215, 143, 245);
	--slds-palettePurple70: rgb(194, 158, 241);
	--slds-palettePurple60: rgb(173, 123, 238);
	--slds-palettePurple50: rgb(144, 80, 233);
	--slds-palettePurple40: rgb(117, 38, 227);
	--slds-palettePurple95: rgb(246, 242, 251);
	--slds-palettePurple30: rgb(90, 27, 169);
	--slds-palettePurple20: rgb(64, 16, 117);
	--slds-palettePurple10: rgb(36, 6, 67);
	--slds-palettePurple65: rgb(183, 141, 239);
	--slds-paletteRed90: rgb(254, 222, 216);
	--slds-paletteRed80: rgb(254, 184, 171);
	--slds-paletteRed70: rgb(254, 143, 125);
	--slds-paletteRed60: rgb(254, 92, 76);
	--slds-paletteRed50: rgb(234, 0, 30);
	--slds-paletteRed95: rgb(254, 241, 238);
	--slds-paletteRed40: rgb(186, 5, 23);
	--slds-paletteRed30: rgb(142, 3, 15);
	--slds-paletteRed20: rgb(100, 1, 3);
	--slds-paletteRed10: rgb(48, 12, 1);
	--slds-paletteRed65: rgb(254, 119, 101);
	--slds-paletteRed15: rgb(74, 12, 4);
	--slds-paletteTeal15: rgb(7, 40, 37);
	--slds-paletteTeal90: rgb(172, 243, 228);
	--slds-paletteTeal80: rgb(4, 225, 203);
	--slds-paletteTeal70: rgb(1, 195, 179);
	--slds-paletteTeal60: rgb(6, 165, 154);
	--slds-paletteTeal50: rgb(11, 130, 124);
	--slds-paletteTeal40: rgb(5, 103, 100);
	--slds-paletteTeal95: rgb(222, 249, 243);
	--slds-paletteTeal30: rgb(2, 77, 76);
	--slds-paletteTeal20: rgb(2, 52, 52);
	--slds-paletteTeal10: rgb(7, 27, 18);
	--slds-paletteTeal65: rgb(3, 180, 167);
	--slds-paletteViolet15: rgb(61, 1, 87);
	--slds-paletteViolet90: rgb(242, 222, 254);
	--slds-paletteViolet80: rgb(229, 185, 254);
	--slds-paletteViolet70: rgb(216, 146, 254);
	--slds-paletteViolet60: rgb(203, 101, 255);
	--slds-paletteViolet50: rgb(186, 1, 255);
	--slds-paletteViolet40: rgb(150, 2, 199);
	--slds-paletteViolet95: rgb(249, 240, 255);
	--slds-paletteViolet30: rgb(115, 3, 148);
	--slds-paletteViolet20: rgb(82, 0, 102);
	--slds-paletteViolet10: rgb(46, 0, 57);
	--slds-paletteViolet65: rgb(209, 125, 254);
	--slds-paletteYellow70: rgb(228, 162, 1);
	--slds-paletteYellow60: rgb(202, 133, 1);
	--slds-paletteYellow50: rgb(168, 100, 3);
	--slds-paletteYellow40: rgb(140, 75, 2);
	--slds-paletteYellow95: rgb(251, 243, 224);
	--slds-paletteYellow30: rgb(111, 52, 0);
	--slds-paletteYellow20: rgb(79, 33, 0);
	--slds-paletteYellow10: rgb(40, 18, 2);
	--slds-paletteYellow65: rgb(215, 147, 4);
	--slds-paletteYellow15: rgb(46, 34, 4);
	--slds-paletteYellow90: rgb(249, 227, 182);
	--slds-paletteYellow80: rgb(252, 192, 3);
	--slds-colorBackgroundRowActive: rgb(236, 235, 234);
	--slds-colorBackgroundLight: rgb(255, 255, 255);
	--slds-colorBackgroundRowHover: rgb(243, 242, 242);
	--slds-colorBackgroundErrorDark: rgb(186, 5, 23);
	--slds-colorBackgroundInfo: rgb(112, 110, 107);
	--slds-colorBackgroundAltInverse: rgb(3, 45, 96);
	--slds-colorBackgroundRowNew: rgb(205, 239, 196);
	--slds-colorBackgroundSuccessDark: rgb(46, 132, 74);
	--slds-colorBackgroundStencil: rgb(243, 242, 242);
	--slds-colorBackgroundWarning: rgb(254, 147, 57);
	--slds-colorBackgroundHighlightSearch: rgb(255, 240, 63);
	--slds-colorBackgroundDestructiveHover: rgb(186, 5, 23);
	--slds-colorBackground: rgb(243, 242, 242);
	--slds-colorBrandDark: rgb(1, 118, 211);
	--slds-colorBackgroundBackdrop: rgba(255, 255, 255, 0.75);
	--slds-colorBackgroundDark: rgb(236, 235, 234);
	--slds-colorBrand: rgb(27, 150, 255);
	--slds-colorBackgroundDestructive: rgb(186, 5, 23);
	--slds-colorBackgroundSuccess: rgb(69, 198, 90);
	--slds-colorBackgroundWarningDark: rgb(254, 147, 57);
	--slds-colorBackgroundOffline: rgb(62, 62, 60);
	--slds-colorBackgroundStencilAlt: rgb(236, 235, 234);
	--slds-colorBackgroundInverseLight: rgb(3, 45, 96);
	--slds-colorBackgroundCustomer: rgb(254, 147, 57);
	--slds-colorBackgroundError: rgb(254, 92, 76);
	--slds-colorBackgroundAlt: rgb(255, 255, 255);
	--slds-colorBackgroundSuccessDarker: rgb(25, 78, 49);
	--slds-colorBackgroundRowSelected: rgb(236, 235, 234);
	--slds-colorBrandDarker: rgb(1, 68, 134);
	--slds-colorBackgroundSelection: rgb(216, 230, 254);
	--slds-colorBackgroundDestructiveActive: rgb(142, 3, 15);
	--slds-colorBackgroundInverse: rgb(0, 22, 57);
	--slds-colorBackgroundHighlight: rgb(250, 255, 189);
	--slds-colorBorderErrorDark: rgb(254, 143, 125);
	--slds-colorBorderBrandDark: rgb(1, 68, 134);
	--slds-colorBorderInfo: rgb(112, 110, 107);
	--slds-colorBorderWarning: rgb(254, 147, 57);
	--slds-colorBorderDestructiveHover: rgb(186, 5, 23);
	--slds-colorBorder: rgb(221, 219, 218);
	--slds-colorBorderSuccessDark: rgb(46, 132, 74);
	--slds-colorBorderDestructive: rgb(234, 0, 30);
	--slds-colorBorderSeparatorAlt2: rgb(201, 199, 197);
	--slds-colorBorderOffline: rgb(62, 62, 60);
	--slds-colorBorderSuccess: rgb(145, 219, 139);
	--slds-colorBorderSeparator: rgb(250, 250, 249);
	--slds-colorBorderBrand: rgb(27, 150, 255);
	--slds-colorBorderSelectionActive: rgb(250, 250, 249);
	--slds-colorBorderError: rgb(234, 0, 30);
	--slds-colorBorderSelectionHover: rgb(27, 150, 255);
	--slds-colorBorderRowSelectedHover: rgb(27, 150, 255);
	--slds-colorBorderCustomer: rgb(254, 147, 57);
	--slds-colorBorderSelection: rgb(1, 118, 211);
	--slds-colorBorderRowSelected: rgb(1, 118, 211);
	--slds-colorBorderSeparatorAlt: rgb(221, 219, 218);
	--slds-colorBorderInverse: rgb(0, 22, 57);
	--slds-colorBorderDestructiveActive: rgb(142, 3, 15);
	--slds-colorBorderErrorAlt: rgb(254, 143, 125);
	--slds-colorBorderSeparatorInverse: rgb(3, 45, 96);
	--slds-borderRadiusSmall: 0.125rem;
	--slds-borderRadiusMedium: 0.25rem;
	--slds-borderRadiusLarge: 0.5rem;
	--slds-borderRadiusCircle: 50%;
	--slds-borderWidthThin: 1px;
	--slds-borderWidthThick: 2px;
	--slds-shadowActive: 0 0 2px #0176d3;
	--slds-shadowDrag: 0 2px 4px 0 rgba(0, 0, 0, 0.40);
	--slds-shadowDropDown: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
	--slds-durationInstantly: 0s;
	--slds-durationImmediately: 0.05s;
	--slds-durationQuickly: 0.1s;
	--slds-durationPromptly: 0.2s;
	--slds-durationSlowly: 0.4s;
	--slds-durationPaused: 3.2s;
	--slds-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--slds-fontFamilyHeading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--slds-fontFamilyMonospace: Consolas, Menlo, Monaco, Courier, monospace;
	--slds-fontSize1: 0.625rem;
	--slds-fontSize2: 0.75rem;
	--slds-fontSize3: 0.8125rem;
	--slds-varFontSize10: 2rem;
	--slds-fontSize4: 0.875rem;
	--slds-varFontSize11: 2.625rem;
	--slds-fontSize5: 1rem;
	--slds-fontSize6: 1.125rem;
	--slds-fontSize7: 1.25rem;
	--slds-fontSize8: 1.5rem;
	--slds-varFontSize1: 0.625rem;
	--slds-fontSize9: 1.75rem;
	--slds-varFontSize2: 0.75rem;
	--slds-varFontSize3: 0.8125rem;
	--slds-fontSize10: 2rem;
	--slds-varFontSize4: 0.875rem;
	--slds-fontSize11: 2.625rem;
	--slds-varFontSize5: 1rem;
	--slds-varFontSize6: 1.125rem;
	--slds-varFontSize7: 1.25rem;
	--slds-varFontSize8: 1.5rem;
	--slds-varFontSize9: 1.75rem;
	--slds-fontWeightLight: 300;
	--slds-fontWeightRegular: 400;
	--slds-fontWeightBold: 700;
	--slds-lineHeightHeading: 1.25;
	--slds-lineHeightText: 1.5;
	--slds-lineHeightReset: 1;
	--slds-varLineHeightText: 1.5;
	--slds-opacity5: 0.5;
	--slds-opacity8: 0.8;
	--slds-brandHeaderContrastWeakDisabled: rgba(166, 166, 166, 0.25);
	--slds-colorGray11: rgb(62, 62, 60);
	--slds-brandPrimaryTransparent10: rgba(21, 137, 238, 0.1);
	--slds-colorGray12: rgb(43, 40, 38);
	--slds-brandBackgroundDarkTransparent: rgba(1, 68, 134, 0);
	--slds-colorGray13: rgb(8, 7, 7);
	--slds-brandHeader: rgb(255, 255, 255);
	--slds-brandLightActive: rgb(227, 229, 237);
	--slds-brandHeaderContrastWarm: rgb(186, 5, 23);
	--slds-brandHeaderIconDisabled: rgba(145, 145, 145, 0.25);
	--slds-brandHeaderContrastActive: rgb(80, 80, 80);
	--slds-brandBackgroundPrimary: rgb(238, 244, 255);
	--slds-brandPrimary: rgb(27, 150, 255);
	--slds-brandHeaderContrastWeakActive: rgb(129, 129, 129);
	--slds-brandContrastActive: rgb(13, 14, 18);
	--slds-brandHeaderContrastCool: rgb(1, 68, 134);
	--slds-brandHeaderContrastInverse: rgb(255, 255, 255);
	--slds-brandDark: rgb(1, 118, 211);
	--slds-brandAccessible: rgb(1, 118, 211);
	--slds-brandBackgroundDark: rgb(1, 68, 134);
	--slds-brandTextLinkActive: rgb(1, 68, 134);
	--slds-colorGray1: rgb(255, 255, 255);
	--slds-colorGray2: rgb(250, 250, 249);
	--slds-brandHeaderIconActive: rgb(129, 129, 129);
	--slds-colorGray3: rgb(243, 242, 242);
	--slds-brandHeaderIcon: rgb(145, 145, 145);
	--slds-brandDisabled: rgb(201, 199, 197);
	--slds-brandTextLink: rgb(1, 118, 211);
	--slds-colorGray4: rgb(236, 235, 234);
	--slds-colorGray5: rgb(221, 219, 218);
	--slds-colorGray6: rgb(201, 199, 197);
	--slds-brandAccessibleActive: rgb(1, 68, 134);
	--slds-colorGray7: rgb(176, 173, 171);
	--slds-brandDarkActive: rgb(37, 48, 69);
	--slds-colorGray8: rgb(150, 148, 146);
	--slds-brandHeaderContrastInverseActive: rgb(238, 238, 238);
	--slds-brandHeaderContrastCoolActive: rgb(1, 68, 134);
	--slds-colorGray9: rgb(112, 110, 107);
	--slds-brandContrast: rgb(26, 27, 30);
	--slds-brandHeaderContrastWeak: rgb(145, 145, 145);
	--slds-brandPrimaryActive: rgb(1, 118, 211);
	--slds-brandBackgroundPrimaryTransparent: rgba(176, 196, 223, 0);
	--slds-brandHeaderContrast: rgb(94, 94, 94);
	--slds-brandPrimaryTransparent: rgba(21, 137, 238, 0.1);
	--slds-brandHeaderContrastWarmActive: rgb(186, 5, 23);
	--slds-brandPrimaryTransparent40: rgba(21, 137, 238, 0.4);
	--slds-brandLight: rgb(244, 246, 254);
	--slds-colorGray10: rgb(81, 79, 77);
	--slds-sizeXSmall: 12rem;
	--slds-sizeXxxSmall: 3rem;
	--slds-squareIconUtilityLarge: 1.5rem;
	--slds-sizeXxSmall: 6rem;
	--slds-squareIconSmallBoundary: 1.5rem;
	--slds-sizeSmall: 15rem;
	--slds-squareIconUtilityMedium: 1.25rem;
	--slds-squareIconXSmallBoundary: 1.25rem;
	--slds-squareIconUtilitySmall: 1rem;
	--slds-squareIconMediumBoundary: 2rem;
	--slds-squareIconLargeContent: 2rem;
	--slds-squareIconLargeBoundary: 3rem;
	--slds-sizeMedium: 20rem;
	--slds-squareIconMediumContent: 1rem;
	--slds-sizeXLarge: 40rem;
	--slds-squareIconXSmallContent: 0.5rem;
	--slds-varSquareIconMediumBoundary: 2rem;
	--slds-squareIconMediumBoundaryAlt: 2.25rem;
	--slds-sizeXxLarge: 60rem;
	--slds-squareIconLargeBoundaryAlt: 5rem;
	--slds-sizeLarge: 25rem;
	--slds-squareIconSmallContent: 0.75rem;
	--slds-squareIconXxSmallBoundary: 1rem;
	--slds-squareIconMediumContentAlt: 0.875rem;
	--slds-varSpacingXLarge: 2rem;
	--slds-varSpacingHorizontalSmall: 0.75rem;
	--slds-varSpacingHorizontalXxLarge: 3rem;
	--slds-spacingXSmall: 0.5rem;
	--slds-spacingXxxSmall: 0.125rem;
	--slds-spacingXxSmall: 0.25rem;
	--slds-varSpacingVerticalLarge: 1.5rem;
	--slds-varSpacingLarge: 1.5rem;
	--slds-varSpacingMedium: 1rem;
	--slds-varSpacingVerticalMedium: 1rem;
	--slds-varSpacingVerticalXSmall: 0.5rem;
	--slds-spacingSmall: 0.75rem;
	--slds-varSpacingVerticalXxxSmall: 0.125rem;
	--slds-varSpacingXSmall: 0.5rem;
	--slds-varSpacingXxxSmall: 0.125rem;
	--slds-varSpacingHorizontalXLarge: 2rem;
	--slds-varSpacingHorizontalXxSmall: 0.25rem;
	--slds-varSpacingXxLarge: 3rem;
	--slds-spacingMedium: 1rem;
	--slds-varSpacingVerticalXxLarge: 3rem;
	--slds-varSpacingVerticalSmall: 0.75rem;
	--slds-varSpacingSmall: 0.75rem;
	--slds-spacingNone: 0;
	--slds-varSpacingHorizontalLarge: 1.5rem;
	--slds-spacingXLarge: 2rem;
	--slds-spacingXxLarge: 3rem;
	--slds-varSpacingHorizontalXxxSmall: 0.125rem;
	--slds-varSpacingHorizontalXSmall: 0.5rem;
	--slds-varSpacingXxSmall: 0.25rem;
	--slds-varSpacingHorizontalMedium: 1rem;
	--slds-varSpacingVerticalXxSmall: 0.25rem;
	--slds-varSpacingVerticalXLarge: 2rem;
	--slds-spacingLarge: 1.5rem;
	--slds-colorTextActionLabel: rgb(62, 62, 60);
	--slds-colorTextLinkInverse: rgb(255, 255, 255);
	--slds-colorTextLinkInverseActive: rgba(255, 255, 255, 0.5);
	--slds-colorTextActionLabelActive: rgb(8, 7, 7);
	--slds-colorTextWarning: rgb(254, 147, 57);
	--slds-colorTextLinkFocus: rgb(1, 68, 134);
	--slds-colorTextDestructiveHover: rgb(186, 5, 23);
	--slds-colorTextLinkDisabled: rgb(3, 45, 96);
	--slds-colorTextDefault: rgb(8, 7, 7);
	--slds-colorTextDestructive: rgb(234, 0, 30);
	--slds-colorTextLinkHover: rgb(1, 68, 134);
	--slds-colorTextSuccess: rgb(46, 132, 74);
	--slds-colorTextWeak: rgb(62, 62, 60);
	--slds-colorTextPlaceholderInverse: rgb(236, 235, 234);
	--slds-colorTextLink: rgb(1, 118, 211);
	--slds-colorTextWarningAlt: rgb(140, 75, 2);
	--slds-colorTextIconDefault: rgb(112, 110, 107);
	--slds-colorTextBrand: rgb(27, 150, 255);
	--slds-colorTextError: rgb(234, 0, 30);
	--slds-colorTextCustomer: rgb(254, 147, 57);
	--slds-colorTextBrandPrimary: rgb(255, 255, 255);
	--slds-colorTextLinkActive: rgb(3, 45, 96);
	--slds-colorTextRequired: rgb(234, 0, 30);
	--slds-colorTextLinkInverseDisabled: rgba(255, 255, 255, 0.15);
	--slds-colorTextInverse: rgb(255, 255, 255);
	--slds-colorTextPlaceholder: rgb(112, 110, 107);
	--slds-colorTextInverseWeak: rgb(176, 173, 171);
	--slds-colorTextLinkInverseHover: rgba(255, 255, 255, 0.75);
	--slds-colorTextSuccessInverse: rgb(69, 198, 90);
	--slds-colorTextLabel: rgb(62, 62, 60);
	--slds-squareTappable: 2.75rem;
	--slds-squareTappableSmall: 2rem;
	--slds-squareTappableXSmall: 1.5rem;
	--slds-squareTappableXxSmall: 1.25rem;
	--slds-heightTappable: 2.75rem;
	--slds-heightTappableSmall: 2rem;
	--slds-zIndexDropdown: 7000;
	--slds-zIndexDocked: 4;
	--slds-zIndexReminder: 8500;
	--slds-zIndexSpinner: 9050;
	--slds-zIndexDefault: 1;
	--slds-zIndexDeepdive: -99999;
	--slds-zIndexToast: 10000;
	--slds-zIndexDialog: 6000;
	--slds-zIndexPopup: 5000;
	--slds-zIndexModal: 9000;
	--slds-zIndexSticky: 100;
	--slds-zIndexOverlay: 8000;
}

/* Some overrides from SLDS to match production */
.slds-brand-band:before {
	/* Fix the image used for the faded background in production */
	background-image: url("assets/lightning_blue_background.png"), linear-gradient(to top, var(--slds-brandBackgroundDarkTransparent,rgba(1, 68, 134, 0)) 0, var(--slds-brandBackgroundDark,rgb(1, 68, 134)));
}

.slds-brand-band:after {
	/* Change the fade to color to match production */
	background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0) 60%, rgb(176, 196, 223));
}

.tab-content:before {
	/* Fixing the background color after fading out image */
	position: fixed;
	top: 9rem;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	display: block;
	background-color: rgb(176, 196, 223);
	z-index: -1;
}
/* End overrides */

.workspace-manager {
	height: 100%;
}

.tabset-header {
	position: fixed;
	top: 50px;
	width: 100%;
	display: flex;
	background: white;
	z-index: 99;
}

.tab-content {
	width: 100%;
	height: 100%;
	overflow: visible;
}

.setup-launcher,
.tab-container .tab-item {
	border-right: var(--slds-borderWidthThin) solid var(--slds-colorBorder);
}

.split-left {
	width: 250px;
}

.split-right {
	position: relative;
	left: 250px;
	right: 0;
	height: 100%;
	width: calc(100% - 250px);
}

.main-content {
	top: 90px;
	left: 0;
	right: 0;
	height: calc(100% - 90px);
	/* overflow: visible; put this on the main body content, not the entire thing */
}