:host {
    display: block;
}

.shift-section-header {
    font-weight: var(--slds-fontWeightBold);
}

.shift-list {
    overflow-y: auto;
}

.shift-list_x-large {
    max-height: var(--slds-sizeXLarge);
}

.shift-list_large {
    max-height: var(--slds-sizeLarge);
}

.shift-list_medium {
    max-height: var(--slds-sizeLarge);
}