.shift-block {
    border: 1px solid var(--slds-colorBorder);
    border-radius: var(--slds-borderRadiusMedium);
}

/*  Commented out when showing a physical button to view the popup
    Uncomment if showing the popup on hover
     */
.shift-block:hover {
    border-color: var(--slds-colorBorderSelectionHover);
    background-color: var(--slds-colorBackgroundSelection);
}

.shift-block-shift {
    font-weight: var(--slds-fontWeightBold);
    padding-right: var(--slds-spacingXSmall);
}

.shift-block-date {
    border-left: 1px solid;
    padding-left: var(--slds-spacingXSmall);
}

.shift-block-notes {
    display: inline-block;
}

.shift-block-time {
    display: block;
}