<header class="slds-global-header_container branding-header slds-no-print">
    <div class="slds-color__background_gray-1 slds-text-align_center slds-size_full slds-text-body_regular slds-hide system-message"></div>
    <div class="slds-global-header slds-grid slds-grid--align-spread">
        <div class="slds-global-header__item">
            <div class="slds-global-header__logo">
                <span class="slds-assistive-text">Setup</span>
            </div>
        </div>
        {% include "src/layouts/partials/header_search.njk" %}
        {% include "src/layouts/partials/global_actions.njk" %}
    </div>
    foo
</header>