<span class="button-container-a11y">
    <div class="slds-global-header__item">
        <ul class="slds-global-actions">
            <li class="slds-global-actions__item slds-dropdown-trigger slds-dropdown-trigger--click">
                <lignting-icon icon-name="utility:add"
                            class="slds-button slds-button--icon slds-button--icon-small slds-button--icon-container slds-button--icon-x-small slds-global-header__button--icon-actions globalCreateButton slds-icon-utility-add slds-icon_container">
                </lightning-icon>
            </li>
            <li class="slds-global-actions__item slds-dropdown-trigger slds-dropdown-trigger--click">
                <lightning-button-icon-stateful
                    icon-name="utility:trailhead_alt"
                    alternative-text="Trailhead">
                </lightning-button-icon-stateful>
            </li>
            <li class="slds-global-actions__item slds-dropdown-trigger slds-dropdown-trigger--click">
                <lightning-button-icon
                    icon-name="utility:question"
                    alternative-text="Salesforce Help"
                    variant="bare">
                </lightning-button-icon-stateful>
            </li>
            <li class="slds-global-actions__item slds-dropdwon-trigger slds-dropdown-trigger--click">
                <lightning-icon
                    icon-name="utility:setup"
                    variant="bare"
                    alternative-text="Setup">
                </lightning-icon>
            </li>
            <li class="slds-global-actions__item slds-dropdwon-trigger slds-dropdown-trigger--click">
                <lightning-icon
                    icon-name="utility:notification"
                    variant="bare"
                    alternative-text="Setup">
                </lightning-icon>
            </li>
            <li class="slds-global-actions__item slds-dropdwon-trigger slds-dropdown-trigger--click">
                <lightning-avatar
                    variant="circle"
                    src="$assetsDir/images/avatar3.jpg"
                    alternative-text="View profile">
                </lightning-icon>
            </li>
        </ul>
    </div>
</span>