/* Search bar portion */
.setup-search > div {
    background: var(--slds-colorBackgroundLight);
    border-radius: var(--slds-borderRadiusMedium);
}

.setup-search .slds-input__icon.inputIcon {
    --slds-c-icon-color-foreground-default: var(--slds-colorGray7);
}

.forceIcon.slds-button_icon {
    --slds-c-icon-color-foreground-default: currentColor;
}

.autocompleteWrapper {
    min-width: var(--slds-sizeXxSmall);
    position: static;
}

.setup-search .autocompleteWrapper {
    --slds-c-input-shadow: none;
    --slds-c-input-color-border: transparent;
}

/* Global actions */
.slds-global-actions__item .slds-icon_container {
    --slds-c-icon-color-foreground-default: var(--slds-brandHeaderIcon);
}

.slds-global-actions__item .globalCreateButton .slds-icon {
    margin: 1px;
}

/* trailhead button */
.trailheadTrigger button {
    border: none;
    --slds-c-button-sizing-border: 0;
    background: plum;
}

.oneHeader li.trailheadTrigger .ga-button svg {
    width: var(--slds-squareIconUtilityMedium);
    height: var(--slds-squareIconUtilityMedium);
}

/* avatar */
.slds-global-actions__avatar {
    box-shadow: var(--slds-colorGray7, rgb(145, 145, 145)) 0 0 0 var(--slds-borderWidthThin, 1px);
}

.slds-global-actions__avatar:hover {
    box-shadow: var(--slds-brandHeaderContrastWeakActive, rgb(129, 129, 129)) 0 0 0 var(--slds-borderWidthThick, 2px);
}

.ga-icon {
    width: var(--slds-squareIconSmallBoundary,1.5rem);
    height: var(--slds-squareIconSmallBoundary,1.5rem);
}