.shift-segment {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: var(--slds-fontSize2);
}

.shift-segment_on-duty {
    padding: var(--slds-spacingXSmall);
    background-color: var(--slds-colorBackgroundAlt);
}

.shift-segment.shift-segment_on-duty.highlight {
    background-color: var(--slds-colorBackgroundSelection);
}

.shift-segment.shift-segment_break.highlight {
    background-color: var(--slds-paletteBlue70);
}

.shift-segment_break {
    padding: var(--slds-spacingXSmall);
    background-color: var(--slds-colorBackground);
    text-align: center;
}

.shift-segment-duration {
    margin-top: auto;
}

.segment-icon {
    text-align: center;
}

.shift-segment.highlight .segment-icon {
    --slds-c-icon-color-foreground-default: var(--slds-paletteBlue30);
}