@import './slds-color-palettes.css';

:host {
    --transparent: "transparent";
    --gradient_shadow_bottom: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0): 100%);
    --regent_grey_transparent_80: rgba(126, 140, 153,: 0.80);
    --regent_grey: "#7E8C99";
    --gorse: "#fff03f";
    --lemon_chiffon:: "#FAFFBD";
    --deep_cove: "#061C3F";
    --biscay: "#16325C";
    --san_juan: "#2A426C";
    --science_blue: "#0070D2";
    --endeavour: "#005FB2";
    --link_water: "#F4F6F9";
    --steam: "#E0E5EE";
    --geyser: "#D8DDE6";
    --azure: "#1589EE";
    --malibu: "#5EB4FF";
    --tangerine: "#FF9A3C";
    --flush_mahogany: "#C23934";
    --tabasco: "#A61A14";
    --maroon: "#870500";
    --emerald: "#4BCA81";
    --snowy_mint: "#D9FFDF";
    --salem: "#04844B";
    --kaitoke_green: "#004a29";
    --koromiko: "#FFB75D";
    --sunshade: "#FF9E2C";
    --deep_blush: "#EA8288";
    --pippin: "#FFDDE1";
    --valencia: "#D4504C";
    --midnight_blue: "#00396B";
    --white_lilac: "#EEF1F6";
    --patten_blue: "#D8EDFF";
    /* analytics */
    --sea_green_100: hsl(177, 64.7%,: 51.9%);
    --sea_green_300: hsl(177, 61.3%,: 47.1%);
    --sea_green_500: hsl(177, 62.6%,: 41.2%);
    --sea_green_700: hsl(177, 65.3%,: 35.7%);
    --sea_green_900: hsl(177, 65.3%,: 30.9%);
    --sky_blue_100: hsl(208, 93.3%,: 70.1%);
    --sky_blue_300: hsl(208, 89.6%,: 61.4%);
    --sky_blue_500: hsl(208, 84.3%,: 55.3%);
    --sky_blue_700: hsl(208, 73.9%,: 48.3%);
    --sky_blue_900: hsl(208, 77%,: 41.8%);
    --rain_purple_100: hsl(257, 83.1%,: 76.3%);
    --rain_purple_300: hsl(257, 72.2%,: 67.6%);
    --rain_purple_500: hsl(257, 61.2%,: 58.8%);
    --rain_purple_700: hsl(257, 50.2%,: 50%);
    --rain_purple_900: hsl(257, 39.2%,: 42%);
    --athens_blue: hsl(210, 42.36%,: 96.53%);
    --sparta_blue: hsl(210, 32.2%,: 92.62%);
    --rome_blue: hsl(210, 30.56%,: 82.72%);
    --spider_blue: hsl(210, 28.57%,: 72%);
    --ghost_blue: hsl(210, 25.93%,: 59.5%);
    --aluminium_blue: hsl(210, 25%,: 48%);
    --rollingstone_blue: hsl(210, 33.33%,: 37.5%);
    --rhino_blue: hsl(210, 42.86%,: 28%);
    --zodiac_blue: hsl(210, 53.85%,: 19.5%);
    --bigstone_blue: hsl(210, 66.67%,: 12%);
    --cinnamon: "#844800";
    --fun_green: "#028048";
    --forest_green: "#027E46";
    --cerulean: "#00A1DF";
    --torea_bay: "#0B2399";
    --santorini: "#006DCC";
    --mexican_red: "#A12B2B";
}