:host {
    --slds-c-card-heading-font-weight: var(--slds-fontWeightBold);
    --slds-c-card-heading-font-size: var(--slds-fontSize5);
    --slds-c-card-body-spacing-inline-start: 1rem;
}

.fix-me.fix__slds-button_icon-border-filled {
    padding-left: var(--slds-spacingMedium);
    padding-right: var(--slds-spacingMedium);
    background-color: var(--slds-colorBackgroundLight);
    border: 1px solid var(--slds-colorBorder);
    border-radius: var(--slds-borderRadiusMedium);
    vertical-align: middle;
}

/* This class is here to give lightning-card a display value so the spacing utility classes work */
.card-spacer {
    display: block;
}

pre {
    display: block;
    white-space: pre-wrap;
    text-align: left;
}
