:host {
	--sds-c-card-heading-font-weight: var(--slds-fontWeightBold);
	--slds-c-card-heading-font-size: var(--slds-fontSize5);
}

.fix-me.fix__slds-button_icon-border-filled {
    padding-left: var(--slds-spacingMedium);
    padding-right: var(--slds-spacingMedium);
    background-color: var(--slds-colorBackgroundLight);
    border: 1px solid var(--slds-colorBorder);
    border-radius: var(--slds-borderRadiusMedium);
    vertical-align: middle;
}