.shift-time {
    font-weight: var(--slds-fontWeightBold);
}

.shift-breakdown {
    border: 1px solid var(--slds-paletteNeutral80);
    border-radius: var(--slds-borderRadiusLarge);
    display: flex;
    /* align-items: stretch; */
}

.shift-breakdown:hover {
    border-color: var(--slds-colorBorderSelectionHover);
}

.shift-breakdown_today {
    min-height: 6rem;
}

.shift-item_multiple_shifts .shift-item-shift {
    width: 45.8333%;
}

.shift-breakdown_empty {
    width: 100%;
    height: 2.25rem;
    color: var(--slds-paletteNeutral60);
    line-height: 2.25; /* same as the height for vertical centering */
    align-content: center;
    justify-content: center;
    background-color: var(--slds-colorBackground);
    border-color: var(--slds-colorBorderSeparatorAlt2);
}

.shift-breakdown_empty:hover {
    border-color: var(--slds-colorBorderSeparatorAlt2);
}

.shift-breakdown_today .shift-segment {
    display: flex;
    flex-direction: column;
    font-size: var(--slds-fontSize2);
}

.segment-container + .segment-container {
    border-right: 1px solid var(--slds-colorBackground);
}

.shift-breakdown:hover .segment-container + .segment-container {
    border-right: 1px solid var(--slds-paletteBlue70);
}

.shift-breakdown .segment-container:first-child {
    border-top-left-radius: var(--slds-borderRadiusLarge);
    border-bottom-left-radius: var(--slds-borderRadiusLarge);
    overflow: hidden;
}

.shift-breakdown [serviceconsole-shift_shift]:nth-last-child(2) {
    border-top-right-radius: var(--slds-borderRadiusLarge);
    border-bottom-right-radius: var(--slds-borderRadiusLarge);
    overflow: hidden;
}

.shift-segment_on-duty {
    padding: var(--slds-spacingXSmall);
    background-color: var(--slds-colorBackgroundAlt);
}

.shift-segment_break {
    padding: var(--slds-spacingXSmall);
    background-color: var(--slds-colorBackground);
}

.shift-segment-duration {
    margin-top: auto;
}

.segment-icon {
    text-align: center;
}

.now-marker {
    height: 110%;
}

.now-line {
    margin-left: calc(50% - 1.5px);
    height: 100%;
    display: block;
    border-left: 3px solid var(--slds-colorBorderDestructive);
}

.now-label {
    padding-top: 0;
    display: inline-block;
    color: var(--slds-colorTextDestructive);
    font-size: var(--slds-fontSize1);
}