<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name="author" content="Salesforce">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="application-name" content="Lightning Service">
        <title>{{global.siteTitle}}</title>
        <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css">
        <link rel="stylesheet" href="$assetsDir/utility-styles.css">
    </head>
    <body>
        {{body | safe}}
        {{lwr_resources | safe}}
    </body>
</html>
