<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name="author" content="Salesforce">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="application-name" content="Core Prototype">
        <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css">
    </head>
    <body>
        {{{body}}}
        
        {{{lwr_resources}}}
    </body>
</html>